
.navbar{
background-color: rgb(35, 35, 35) !important;
height: 105px;
}
.container-fluid{
    background-color: rgb(35, 35, 35) !important;
}

.navbar-brand{
    height: auto;
    width: 80px;
    padding: 3px;
    margin-left: 10px;
}

.nav-item{
    padding: 10px;

}

.drpodown{
    background-color: black;
}

/* Navbar.css */

  /* Media query for screens larger than 768px (e.g., laptops) */
  @media (min-width: 768px) {

  }
  